AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
JWT_SECRET=
SQS_DOCUMENT_ANALYZE_QUEUE_URL=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_REDIS_HOST=
SPRING_REDIS_PORT=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

SPRING_FLYWAY_BASELINE_ON_MIGRATE=
SPRING_FLYWAY_ENABLED=

EMAIL_VERIFICATION_PEPPER=
EMAIL_ADDRESS=
EMAIL_PASSWORD=

NAT_PUBLIC_IP = 
CHATBOT_FASTAPI_BASE_URL=